body { font-size:12px; }
#currency, #currency_multiple { width:200px; }

#validation_error { 
	padding:7px; 
	margin-top:5px;
	width:250px;
	border:solid 1px #F20E0E; 
	color:#F20E0E; 
	background-color:#DDD0D0; 
	font-family:Verdana, sans-serif; 
	font-size:13px;
	display:none;
}

.currency-spinner-wrapper {
	position:relative;
	width:auto;
	display:inline-block;
}

.currency-spinner-wrapper .up, .currency-spinner-wrapper .dn { width:25px; font-size:.7em; cursor:pointer; position:absolute; }
.currency-spinner-wrapper .up:hover, .currency-spinner-wrapper .dn:hover { background-color:#ccc; }

.currency-spinner-wrapper .up {
	top:1px;
	right:2px;
	height:8px;
	width:10px;
	padding:2px 3px;
}

.currency-spinner-wrapper .up .arrow-up {
	height:0;
	width: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #000;
}

.currency-spinner-wrapper .dn {
	bottom:0;
	right:2px;
	height:6px;
	width:10px;
	padding:2px 3px;
}

.currency-spinner-wrapper .dn .arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
}
